name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [currency-report, currency-history]

    steps:
    - uses: actions/checkout@v3

    # python setupp
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

# 3. Instalar dependências (Build)
    - name: Install dependencies
      run: |
        cd ${{ matrix.service }}
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Testes Unitários (Pytest)
    - name: Run Unit Tests
      run: |
        cd ${{ matrix.service }}
        # O pytest detectará automaticamente os arquivos test_*.py
        pytest -v

    # 5. Docker Build
    - name: Build Docker Image
      run: |
        cd ${{ matrix.service }}
        docker build -t ${{ matrix.service }}:latest .